<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="MyConnection" connectionString="Server=LAPTOP-3396DIL7\SQLEXPRESS; Integrated Security=true; Database=TooBuzy" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TooBuzyServies" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ITooBuzyService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2112/" binding="basicHttpBinding"
                bindingConfiguration="TooBuzyServies" contract="TooBuzyServiceReference.ITooBuzyService"
                name="TooBuzyServies" />
            <endpoint address="net.tcp://localhost:2113/TooBuzy/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ITooBuzyService" contract="TooBuzyServiceReference.ITooBuzyService"
                name="NetTcpBinding_ITooBuzyService">
                <identity>
                    <userPrincipalName value="LAPTOP-3396DIL7\Bruger" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>