<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MyConnection" connectionString="Server=LAPTOP-3396DIL7\SQLEXPRESS; Integrated Security=true; Database=TooBuzy" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    
    <services>
      <service name="TooBuzyServices.TooBuzyService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:2112/" />
          </baseAddresses>
        </host>

        <endpoint name="TooBuzyServies"
                  address=""
                  binding="wsHttpBinding"
                  contract="TooBuzyServices.ITooBuzyService">
        </endpoint>
        <!--address = protocol, rootserver adress, port number, optional name-->

        <endpoint address="net.tcp://localhost:2113/TooBuzy/"
          binding="netTcpBinding"
          contract="TooBuzyServices.ITooBuzyService" />
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--giver exception details når der debugges -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!-- Tillader http adgang(web/ekstern)-->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>


        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

</configuration>